<div class="sidebar-wrapper">
    <div class="logo">
        <a href="javascript:;" class="simple-text">
            Your Logo
        </a>
    </div>
    <ul class="nav">
        <li class="nav-item active">

            <!-- <a class="nav-link" href="dashboard.html"> -->
                
            <a class="nav-link" href="@{/produit/all}">
                <i class="nc-icon nc-icon nc-paper-2"></i>
                <p>Produits</p>
            </a>
        </li>
        <li>
            <a class="nav-link" href="./user.html">
                <i class="nc-icon nc-bell-55"></i>
                <p>Catégorie</p>
            </a>
        </li>

        <li class="nav-item active active-pro">
            <a class="nav-link active" href="javascript:;">
                <i class="nc-icon nc-alien-33"></i>
                <p>Upgrade plan</p>
            </a>
        </li>
    </ul>
</div>